header {
    background-color: #6F88BE;

}

body {
    background-color: #fff;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: calc(100vh - 5rem);
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    width: 100%;
}


h1 {
    font-family: "Forma Light";
    font-size: 4rem;
    letter-spacing: 3px;
    color: #6F88BE;
}

article h2 {
    font-family: "Forma Bold";
    font-size: 3rem;
    color: #6F88BE;
}

article h3, summary {
    color: #6F88BE;
    font-family: "Forma Medium";
    font-size: 2rem;
}

details article {
    margin-top: 2rem;
}

details article:first-of-type {
    margin-top: 1rem;
}

#article-expediente {
    display: flex;
    flex-direction: column;
}

#article-expediente h3 {
    margin-top: .5rem;
}

article ul {
    margin-top: 1rem;
}

article ul li a::after {
    content: " \1F517";
}

article ul li a:link, article ul li a:visited {
    text-decoration: none;
    color: #6F88BE;
    font-family: "Forma";
    font-size: 1.2rem;
    line-height: 1.2;
}

article ul li a:hover {
    color: #FF73F3;
}

article p {
    color: #6F88BE;
    margin-top: .5rem;
    font-family: "Forma";
    font-size: 1.2rem;
    line-height: 1.2;
}

article p.bold {
    font-family: "Forma Bold";
}

p.bold a:link, p.bold a:visited {
    font-family: "Forma Medium";
    color: inherit;
    text-decoration: none;
}

p.bold  a:hover {
    color: #ff73f3;
}

p.bold a::after {
    content: " \1F517";
}
