header {
    background-color: #6F88BE;
}

body {
    background-color: #fff;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 5rem;
}

section {
    overflow: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    gap: 2rem;
}

section h1 {
    font-family: "Forma Light";
    font-size: 4rem;
    letter-spacing: 3px;
    color: #6F88BE;
}

article h2 {
    font-family: "Forma Bold";
    font-size: 3rem;
    color: #6F88BE;
}

article h3{
    color: #6F88BE;
    font-family: "Forma Medium";
    font-size: 2rem;
}

article p {
    color: #6F88BE;
    margin-top: .5rem;
    font-family: "Forma";
    font-size: 1.2rem;
    line-height: 1.2;
}

article a:link, article a:visited {
    font-family: "Forma Medium";
    color: inherit;
    text-decoration: none;
}

article a:hover {
    color: #ff73f3;
}


article .date {
    letter-spacing: 2px;
    font-family: "Forma";
    font-size: 1.5rem;
}
