main {
    max-width: 1100px;
    margin: 0 auto;
}

body {
 background: linear-gradient(to right, #ffffff 50%, #6F88BE 0%);
}

/* IMAGE SECTION */
.image-container {
    background-image: url("/ineac-site/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    box-shadow: 0px -1px 3px 0px rgba(50,50,50,0.75) inset;
}

/* WRAPPER */
.wrapper {
    display: flex;
}

.noticias {
    background-color: #ffffff;
}

.sobre {
    background-color: #6F88BE;
    color: #ffffff;
}

.sobre p {
    margin-top: 1rem;
}

.col2 {
    width: 50%;
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
}

.col2 h2 {
    font-family: "Forma Bold";
    font-size: 3rem;
    margin: 2rem 0 .2rem;
}

.col2 p {
    font-family: "Forma";
    font-size: 1.3rem;
    line-height: 1.2;
}

.data {
    margin-bottom: 1rem;
}

.info {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 3rem;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

@media screen and (max-width: 800px) {
    .image-container {
	background-image: url("/ineac-site/images/background-less.png");
	height: 300px;
    }
    
    .wrapper {
	flex-direction: column-reverse;
    }

    .col2 {
	min-height: 50vh;
	width: 100%;
    }

    .sobre {
	box-shadow: 0px -2px 3px 0px rgba(50,50,50,0.75) inset;
    }
    
}
