/* WRAPPER */
.wrapper {
    display: flex;
}

.noticias {
    background-color: #ffffff;
}

.sobre {
    background-color: #0c53cb;
    color: #ffffff;
}

.col2 {
    width:50%;
    padding: 2rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

.col2 h2 {
    font-size: 2rem;
}

@media screen and (max-width: 800px) {

    .wrapper {
	flex-direction: column;
    }

    .col2 {
	width: 100%;
    }

}
